.aboutme {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.card {
  padding: 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  align-items: center;
}

.card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.cardParagraph {
  user-select: none;
  color: #fff;
  margin-bottom: 0.75rem;
  text-align: justify;
}

.headeraboutme{
  user-select: none;
  color: white;
  text-align: center;
  margin-top: 5rem;
}
