body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background:
        linear-gradient(rgba(255,255,255,0.006) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.006) 1px, transparent 1px),
        linear-gradient(135deg, #0f1115, #1a1d23);
    background-size: 80px 80px, 80px 80px, 100% 100%;
    background-attachment: fixed;
}

* {
  user-select: none;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}